* {
  margin: 0;
  padding: 0;
}

.backGroundBefore {
  width: 100%;
  height: 1350px;
  position: fixed;
  min-width: 280px;
  object-fit: cover;
}

.navBar {
  position: fixed;
  width: 100%;
  /* border: 2px solid green; */
  /* background-color: rgba(0, 255, 0, 0.7); */
  color: white;
  min-width: 320px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBarActive {
  position: fixed;
  width: 100%;
  transition: 0.5s ease-in-out;
  background-color: rgba(61, 61, 61, 0.95);
  color: white;
  min-width: 280px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
li {
  gap: 1rem;
  font-size: large;
}

.titleSection {
  margin: 0px 0px 16px 10px;
  font-size: x-large;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menuList {
  /* border: 2px solid rgb(242, 0, 255); */
  width: 180px;
  height: 600px;
  /* margin: 50px 0 0 0; */
  /* background-color: aliceblue; */
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: 1s;
}
.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselSection {
  /* border: 2px solid red; */
  position: absolute;
  height: 400px;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
}
.carousel {
  position: relative;
  height: 400px;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
}
.carouselImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.carousel-control-prev {
  margin-top: 300px;
  height: 100px;
}
.carousel-control-next {
  margin-top: 300px;
  height: 100px;
}
.carouselCaption {
  margin: 0 0 100px 0;
}
.options {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 1s ease-in;
}
.options:hover {
  background-color: rgba(1, 114, 249, 0.75);
  color: rgb(61, 61, 61);
}

.dropDownOptions:hover {
  background-color: rgba(1, 114, 249, 0.75);
}

.homeContent {
  position: relative;
  /* border: 2px solid red; */
  height: fit-content;
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
  justify-content: center;
  align-items: center;
}
.aboutSection {
  width: 60%;
  min-width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beforeHomeCards {
  margin: 20px 20px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  min-width: 280px;
}
.afterHomeCards {
  margin: 100px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;
  width: 100%;
  min-width: 280px;
}
.boxBefore {
  width: 40%;
  min-width: 280px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.boxAfter {
  width: 80%;
  min-width: 280px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.aboutBox {
  width: 80%;
  min-width: 280px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.aboutCard {
  display: flex;
  flex-direction: row;
}
.contentSection {
  padding: 0 0 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(1, 114, 249, 0.75);
}
.cardContentSection {
  background-color: rgba(1, 114, 249, 0.75);
  height: 100%;
  min-width: 280px;
}
.aboutPage {
  /* border: 2px solid green; */
  margin: 150px 0 0 0;
  width: 100%;
  min-width: 280px;
  height: 350px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.aboutUsCard {
  width: 80%;
  min-width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.95);
  border-radius: 10px;
}
.aboutUs {
  color: rgb(1, 113, 249);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.IconCard {
  width: 100%;
  min-width: 280px;
  margin: 800px 0 0 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.clientSection {
  /* border: 2px solid green; */

  width: 80%;

  min-width: 280px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: rgba(1, 114, 249, 0.75);
  color: rgb(61, 61, 61);
}
.clientIconsSection {
  /* border: 2px solid rgb(0, 11, 128); */
  height: fit-content;
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
/* .clientIcons{
  border: 2px solid rgb(128, 0, 0);
 
 
} */
.visionPage {
  /* border: 2px solid green; */

  width: 100%;
  min-width: 280px;

  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.visionCard {
  width: 80%;
  min-width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.95);
  border-radius: 10px;
}
.vision {
  color: rgb(1, 113, 249);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallerySection{

  position: absolute;
  margin: 100px 0px 0 0px;
  width: 100%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.galleryImageSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
width: 100%;
margin: 100px 0 0 0;
}

.footerSectionBefore {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  height: 400px;
  margin: 1350px 0 0 0;
  background-color: rgba(61, 61, 61, 0.95);
}
.footerSectionAfter {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(61, 61, 61, 0.95);
  width: 100%;
  min-width: 320px;
  height: 400px;
  margin: 1800px 0 0 0;
}
.socialMediaSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 100px 0 100px;
}
.logo {
  width: 100px;
}
.emailUsForm {
  border: 2px solid green;
  height: 400px;
  width: 400px;
  margin: 0px 100px 0 100px;
}
